[2022-09-12 14:07] VividLemon commented on #648
I suggest waiting for 0.3.3 as many BTable systems were overhauled.

[2022-09-12 15:07] VividLemon commented on #648
What exactly does the sort-internal prop do?

[2022-09-12 16:38] devhus commented on #648
Determine if the table will sort its internal items or you will sort the given items prop yourself which is useful when you want to sort the table through API request within the ``sorted`` event
It was mentioned in this PR https://github.com/cdmoro/bootstrap-vue-3/pull/594

And its default value changed to ``false`` based on this comment
https://github.com/cdmoro/bootstrap-vue-3/pull/609#discussio

[2022-09-12 17:05] VividLemon commented on #648
https://github.com/cdmoro/bootstrap-vue-3/commit/aac2b68f7bc8672246107c650e7c928dd336c201 Yeah, I turned it to true. I think my point was that it didn't have a default value... But did not fully understand how it worked, default true is better since most people don't need to sort by apis and stuff.

[2022-09-13 03:00] VividLemon commented on #648
Update to 0.3.3 as sortInternal is default true, (fixes your issue). Or manually set prop sortInternal to true.

[2022-09-13 03:00] #648 closed

[2022-09-13 03:05] VividLemon commented on #645
Indeed, few components are missing from the docs. Today, I added in the missing ones. They only contain component references and some seem to be broken. It is a work in progress as the methods employed to get them to work are a bit hacky 😞 Or me just not knowing the docs well enough.

[2022-09-13 03:05] #645 closed

[2022-09-13 03:08] VividLemon commented on #573
I assume most additions are implemented, though the documentation on how to use them is not complete. I am going to close the issue

[2022-09-13 03:08] #573 closed

[2022-09-13 03:09] VividLemon commented on #365
Should be completed, though documentation may still be lacking in some areas.

[2022-09-13 03:09] #365 closed

[2022-09-13 03:11] VividLemon commented on #261
Everything on this looks correct in code, so I assume it has been fixed.

[2022-09-13 03:12] #124 closed

[2022-09-13 03:13] #138 closed

[2022-09-13 03:17] VividLemon commented on #535
Assumed completed

[2022-09-13 03:17] #535 closed

[2022-09-13 03:21] VividLemon commented on #319
Code appears to be correct. Reopen if it is still an issue.

[2022-09-13 03:21] #319 closed

[2022-09-13 03:59] aceofwings opened #656 "At least one field must have sortable key :true in order for detail row to work"
**Describe the bug**
In order to show the detail row at least one field in BTable must have sortable :true

**To Reproduce**
[code]

Remove sortable true and detailrow show function will stop working

**Environment (please complete the following information):**
 - OS: [e.g. Windows 10]
 - Version [e.g. 0.3.3]

**Additional context**
Add any other context about the problem here.

[2022-09-13 06:46] RuBaWa commented on #652
Yes, its only for demonstration, that in real example events are triggered correctly and props get the right value. Only the input field value is not updated.

With formatter prop everything is working fine. I've recently migrated from bootstrap-vue and transfer all logic to new components. With old framework everything works like exspected. Maybe with new "formatter" prop behavior have changed?

[2022-09-13 11:18] Atokulus opened #657 "The close button in the top right of <BModal> does not emit an update to v-model value."
Hey community
I hope you are all well.

When showing a BModal and closing the modal with the close button (cross button) in the top right, the modal's v-model binding is not updated, leading to issues when wanting to reshow the modal.

See https://codesandbox.io/s/modal-close-bug-9sqsl6?file=/src/App.vue for a reproduction of this issue.

Best regards
Markus

[2022-09-13 11:28] alexdohm commented on #319
@VividLemon i'm having the same issue, but with BNavItemDropdown. the direction props do not work, and by looking at the inspector, it seems like the props are not being applied to the element

[2022-09-13 12:22] alexdohm opened #659 "BNavItemDropdown position props are not working"
**Describe the bug**
The props dropup, dropleft, dropright, right, left props are not working for BNavItemDropdown

**Expected behavior**
Proper positioning of dropdown with applied props. Even though they are applied in the code, they do not work

[code]

<img width="869" alt="Screenshot 2022-09-13 at 14 20 54" src="https://user-images.githubusercontent.com/26983611/189899475-0b645ae2-b0c6-471a-a

[2022-09-13 12:53] imanmalekian31 opened #660 "Tooltip Doesn't work in nuxt"
**Describe the bug**
When I use tooltip directive in Nuxt project ( In pure Vue app it's ok), I get this Error (`ssr:false`):

![Screenshot from 2022-09-13 17-19-17](https://user-images.githubusercontent.com/58827166/189905779-20b6a886-3549-4785-8e18-8fa99621d5ed.png)

[2022-09-13 13:58] makroxyz opened #662 "Global configuration and PaginationNav component"
Any plan for BPaginationNav and the possibility to global config components?

example:
[code]

[2022-09-13 14:09] VividLemon commented on #662
None of the components have global config available. Perhaps sometime "soon", considering there isn't a whole lot left to complete. I just need to learn how to actually build this.

[2022-09-13 14:11] VividLemon commented on #645
Somewhere along the lines, the example I had, broke. Clearly, it needs to be fixed.

[2022-09-13 14:15] makroxyz opened #664 "BTable emptyFilteredText not implemented"
BTable is now near to be usable for production!!! Good job!

what is missing now is ```empty``` slot and "old" props to define the default empty slot like:
```empty-filtered-text```, ```empty-text```, ```empty-filtered-html``` and ```empty-html```

[2022-09-13 14:16] VividLemon commented on #660
I still imagine that it has to do with Bootstrap, and I believe it's related to their methods to find elements in the DOM. It's odd that SSR false won't work, but until a future version of Bootstrap, there is nothing we can do

[2022-09-13 14:22] Kyriakos-Michael opened #665 "Migrating from bootstrap-vue, received this error"
**Received the below error on the browser console:**

[code]

**Environment (please complete the following information):**
 - OS: [Macos]
 - Version [12.6]
 - Google Chrome 105

**Additional context**
Trying to test a migration from the old bootstrap-vue

The error appears multiple times on the console.

[2022-09-13 14:37] imanmalekian31 commented on #660
Did you test that?

[2022-09-13 14:47] VividLemon commented on #659
From my testing, it appears that the menu inside the navbar is not able to go right, because it doesn't have enough space... I've noticed that it modifies the space of the navbar component. When I had built the component, it was all rendered in a simple b-nav, so no problems. But navbar spacing is static and doesn't like to move, so issues. This is all incorrect as the menu is rendered as a _child

[2022-09-13 14:53] VividLemon commented on #660
Did I test that it's a Bootstrap issue, or that it's our issue?

[2022-09-13 14:55] VividLemon commented on #665
This doesn't contain enough information to be useful for me. The error message is too cryptic to be of any use.

[2022-09-13 14:58] VividLemon commented on #652
You said that you didn't want to user the formatter prop here, so I'm not sure what you are looking for with

This issue is a bit complicated. The logic is pulled into a composable, which abstracts some things. It's going to take a bit of time to fully figure out.

[2022-09-13 16:20] VividLemon commented on #660
On second look, my answer is incorrect. This problem is the result of an improper nuxt config file on our end. Since Nuxt isn't fully supported, I'm not going to make it a priority, as compared to other issues that exist. But I will look into it and ask around the Nuxt discord and things, since the documentation for writing a Nuxt module is difficult to understand.

[2022-09-13 16:25] imanmalekian31 commented on #660
Thank you for responding.

[2022-09-13 22:47] devhus commented on #664
I've left them out since never needed to use them. However, I will work on it soon, Thanks for sharing the information.

[2022-09-14 06:07] makroxyz commented on #664
I agree... with ```empty``` slot ```empty-html``` or ```empty-filtered-html``` probably could be dropped.
Anyway in these props you can write custom html for empty table (no data) and empty filtered table with (no data after filter applying).
They are the same as ```empty-text``` and ```empty-filtered-text``` but you can set some HTML instead plain text.

[2022-09-14 07:17] RuBaWa commented on #652
I can use formatter, since i get any edge cases. But it would be nice, if reactivity at form values works as exspected.

Thank you for your great work.

[2022-09-14 07:22] makroxyz opened #673 "BTable api-url property and items using provider function"
The "old" bootstrap-vue BTable has also this feature [provider function](https://bootstrap-vue.org/docs/components/table#using-items-provider-functions).

I think it should be implemented if possibile. In this case also busy property should be a v-model.

[2022-09-14 08:58] Kyriakos-Michael commented on #673
Agree, that the provider function is extremely helpful, especially for a Pagination implementation from APIs.

[2022-09-14 10:47] devhus commented on #664
I see, sounds like useless props since you can write the HTML in the slot anyways

[2022-09-14 11:30] Atokulus opened #674 "Pressing the escape key closing a <BModal> does not emit an update to v-model value."
Hey community
I hope you are all well.

I just realized, that when showing a `<BModal>` and closing the modal with the escape key, the modal's v-model binding is not updated, leading to issues when wanting to reshow the modal.

See https://codesandbox.io/s/modal-close-bug-9sqsl6?file=/src/App.vue for a reproduction of this issue.

This issue has the same systemic root cause as #657, as `bootstrap-

[2022-09-14 15:18] devhus commented on #674
I didn't even know that the Modal can be closed using the escape-key 🤣
However, I still believe that the component should not depend on Bootstrap's events in such a matter.
IMO, A possible solution is to disable the feature from bootstrap's modal so it can no longer close the modal by pressing the escape key and implement that feature using vue's code to maintain stability for the component's prop

[2022-09-14 19:34] VividLemon commented on #674
I have been trying to write something that is impartial. But it's best to keep things internally handled by Vue. One of the biggest issues between incorporating a JS script into Vue is when they both attempt to modify the DOM at the same time. Though it's overhead for us, it's best to try to have things handled by Vue.

[2022-09-14 19:46] dagnelies commented on #516
...I ran in the same issue too ...I guess everyone trying to help or make an MR will run into this issue ...what's the benefit of this specific setup instead of plain normal npm/package.json ?

[2022-09-14 20:01] VividLemon commented on #516
The library does not use npm, which is why there's safeguards against trying to use npm.

If you would like, I can explain _why_ I chose to implement pnpm, but it's the same as why someone would chose to use any other package manager that isn't npm.

[2022-09-14 21:08] dagnelies commented on #516
Well, I just wanted to make you aware that the more familiar the environment is to others, the easier they can contribute.

I wanted to fix this broken carousel thingy but the fact that I run into errors on install, then have to search where this error comes from, then arrive here to learn that it uses another package manager, that you first have to install and learn, and so on... well, somehow th

[2022-09-14 21:35] VividLemon commented on #516
I'd recommend that new contributors familiarize themselves with the [contributing guide](https://github.com/cdmoro/bootstrap-vue-3/blob/main/CONTRIBUTING.md) located at the workspace root, Specifically on how to set up the workspace.

Located near the bottom, it does also state that contributors are always free to ask for help when they are stuck. If it is taking too long to set up the workspace,

[2022-09-14 22:45] aceofwings commented on #516
pnpm is a suitable alternative to npm. There is not much "cost" when choosing a package manager. Do note all vue dependencies and vite are using pnpm.

[2022-09-15 01:44] tghkuma commented on #660
@VividLemon [Installation - Nuxt.js 3](https://cdmoro.github.io/bootstrap-vue-3/getting-started/#installation-nuxt-js-3)  only installs components, no directives.
Calling `app.use(BootstrapVue3)` raises #388.
Because `module` refers to `src` and `app.use()` refers to `dist`.

[2022-09-16 14:04] Atokulus commented on #674
Dear @devhus and @VividLemon
I can totally support this side as well, as it gets much more clear for the developer to read bootstrap-vue-3's code, so in the end it does not really matter to me.

Please just consider there are currently and in the future many more UX concepts e.g. for impaired people, and bootstrap seems to handle them quite well. It can get frustrating to keep up with this changes

[2022-09-16 14:06] Atokulus commented on #674
Just another perspective: There might be a valid UX-Unit-Test in the future to just these corner-cases (Escape, Aria, Back key (?)).

[2022-09-16 14:10] VividLemon commented on #674
Due to the teleport in BModal, I was having issues when targeting the component when component testing. As such, BModal is not currently covered by tests. Eventually it will contain tests for all of those.

[2022-09-18 02:22] devhus commented on #673
@makroxyz  @Kyriakos-Michael hopefully that covers it https://github.com/cdmoro/bootstrap-vue-3/pull/678. Please, give it a try, and let me know if there is anything else needed

[2022-09-18 06:26] dagnelies opened #682 "How to get hot-reloads working with pnpm dev?"
Hi,

I don't know if I missed something but `pnpm dev` at the project's root does not seem to pick up changes you make in the component files. ...and launching the `pnpm build` each time is kind of unproductive.

It's even described here: https://github.com/cdmoro/bootstrap-vue-3/blob/main/CONTRIBUTING.md#developing

Did I miss something or is this the normal workflow to build the whole thing each

[2022-09-18 15:09] VividLemon commented on #682
Open the one for bootstrap vue 3, and add modify the app. Vue for what you're trying to watch.

The wording is poor there, I'll make it better later today

[2022-09-19 17:59] VividLemon commented on #660
#685

[2022-09-19 20:15] VividLemon opened #686 "BTableSimple and internal BTableContainer similar"
@devhus
The internal component BTableContainer that you have been using as a wrapper for BTable is awfully simple to that of BTableSimple. Could BTable use the BTableSimple wrapper instead, and remove the BTableContainer component?

[2022-09-19 21:47] devhus commented on #686
I have no clue about BTableSimple tbh never used it before nor seen its code, i will take a look soon to understand your request

[2022-09-19 21:53] devhus commented on #686
Yeah... after looking and the code, I know how it looks 😆 I haven't seen the BTableSimple code before but it looks like I've copy-paste its code to BTableContainer.
Shocked to see that i've wite a code that was already written.
Anyways, yes.. i will replace BTableContainer with BTableSimple

[2022-09-19 21:59] VividLemon commented on #686
Some of the classes props and things could be moved over as well, and hand that functionality off to table simple

[2022-09-19 22:37] devhus commented on #686
I will keep the updates simple at the moment so we don't have any more major updates to the table and you can finally push #666 release,
We can continue moving some logic to BTableSimple after but for now, I think we can just use BTableSimple as it is.

[2022-09-19 23:28] VividLemon commented on #686
I'd prefer to have it finished before I publish that change.

[2022-09-20 01:26] devhus commented on #686
Unfortunately, I am busy for a couple of days and won't be able to work on major changes atm.
I believe that you can publish the release as it is for now if you'd like ofc.

[2022-09-20 12:43] dagnelies commented on #682
Ah, thanks for updating the message, the previous version was quite puzzling. 👍 😅 Since editing a message does not send a notification, writing a new message might help making the participants aware of the update

This helps, I'll follow that route, working with `./packages/bootstrap-vue-3/src/app.vue` is just fine too. ...now let's see if I can do something to fix this carousel, no guarantees.  😅

[2022-09-20 12:43] #682 closed

[2022-09-20 19:55] #686 closed

[2022-09-21 07:39] janekx21 opened #692 "b-dropdown "no-caret" property is not working"
**Describe the bug**
I just ported a vue 2 app to vue 3 and used this lib but every dropdown caret is visible. This property is not working correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a b-dropdown with "no-caret" property set to "true" (Booleanish)
2. See error: caret ist visible

**Expected behavior**
Caret should no be visible because the "no-caret" property is true.

[2022-09-21 07:49] janekx21 commented on #692
I was missing the global css. Issue solved.
`import "bootstrap-vue-3/dist/bootstrap-vue-3.css";`

[2022-09-21 07:49] #692 closed

[2022-09-21 09:05] RuBaWa opened #693 "Input form validation is working wrong"
**Describe the bug**
I have problems with form validation on b-form-input elements, if value is linked by v-model.
Required and some other props are working. But for example minlength is not detected as invalid.
I can reproduce this behaviour and build an example.

Native input und b-form-input without v-model are working.

**To Reproduce**
[https://codesandbox.io/s/bootstrap-vue-3-minlength-input

[2022-09-21 16:33] alexdohm opened #694 "SortCompare Added for BTable"
Thank you so much for adding sorting to the tables! I was reading your current code, and noticed that there is not yet the ability to do sort-compare routines with columns. I was wondering if this was already on the agenda, and if not, would it be possible to implement?

https://bootstrap-vue.org/docs/components/table#custom-sort-compare-routine

[2022-09-21 18:58] devhus commented on #694
Sure, why not? 😄

[2022-09-22 09:50] alexdohm commented on #694
On this same note, a custom filter function would also be great!

[2022-09-22 09:55] snmuhein commented on #244
It seems that the Carousel still does not work as expected. I tried the following:

[code]

Please add a working example to the [documentation](https://cdmoro.github.io/bootstrap-vue-3/components/Carousel.html)

[2022-09-22 10:09] snmuhein opened #696 "Build errors in several Components"
When building a Project with compiler option `"skipLibCheck": false` set in tsconfig, I get the following errors related to bootstrap-vue-3 (version 0.3.4).

As a temporary fix I can set `"skipLibCheck": true`.

[code]

Error details:
[code]

[2022-09-22 14:47] VividLemon commented on #696
I've fixed two of the issues that was our fault
Bootstrap has it's own type file
BV3 doesn't use chai in any capacity

Skip lib check is the default when initializing a Vite, vue 3, typescript app. I suggest you follow their example and permanently keep it on.
[basics.zip](https://github.com/cdmoro/bootstrap-vue-3/files/9626910/basics.zip)

[2022-09-22 14:51] VividLemon commented on #693
I'm getting all the same behaviors in your example.

[2022-09-22 14:55] VividLemon commented on #244
https://github.com/cdmoro/bootstrap-vue-3/pull/691

[2022-09-22 14:56] VividLemon commented on #244
https://github.com/cdmoro/bootstrap-vue-3/pull/691

[2022-09-23 06:06] RuBaWa commented on #693
Hmm, that wired. If you try it with string "Test", first input is valid, others are invalid, because minlength="10"

![image](https://user-images.githubusercontent.com/99255435/191900651-02eadb48-a363-43b0-9ab8-4ce449659c62.png)

[2022-09-23 11:45] mariusa opened #697 "b-form-group: horizontal layout works only in some cases"
**Describe the bug**
According to docs
https://cdmoro.github.io/bootstrap-vue-3/components/FormGroup.html#horizontal-layout

all these should work:
[code]

but only Test 1 has a horizontal layout.

Version: 0.3.4

[2022-09-23 11:48] mariusa commented on #697
Related, maybe I misunderstand usage:
`label-align-sm="end"` works, but `label-align="end"` doesn't work.

I was hoping that if no viewport sizes are specified, all apply.

[2022-09-23 14:00] VividLemon commented on #697
You're not. This is a bug

[2022-09-23 14:16] dagnelies commented on #244
Now it should:

https://cdmoro.github.io/bootstrap-vue-3/components/Carousel.html

But I should update the doc, somehow it is suboptimal that the first demo looks like a plain image because controls and indicators are not enabled while the second one is barely visible because of dark mode and dark pictures. Oh well, at least it's there.

[2022-09-23 14:57] VividLemon commented on #693
This is a conflict between Vue, and our script, and HTML standard of what accounts for a violation.

When I originally tested, I took a shortcut and attempted to simply call your `checkValidity` function on @input of all the <input /> elements. Which causes wildly different answers.

However, your original example only runs when a button is clicked, far beyond a critical point...

You see, a const

[2022-09-23 15:03] VividLemon commented on #693
Perhaps you should try using a full Vue JS solution like Vuelidate instead of relying on html

[2022-09-23 17:57] VividLemon commented on #696
I'm going to close this issue since it does not need to be fixed and it is not our issue. I suggest leaving vite default tsconfig options alone since it clearly presents some issues.

If you have any questions about this, let me know

[2022-09-23 17:57] #696 closed

[2022-09-23 18:01] VividLemon commented on #470
@devhus You seem to know quite a bit about css. Is there a way to have the above css class affect deeply nested items?
psuedo it looks like this
[code]
In bootstrap-vue the code is like this
[code]
Which works. The div in the middle blocks the class from activating though. Do you know of a way to fix this?

[2022-09-23 18:25] devhus commented on #470
I did not understand the question clearly, but will that help ?
'''css
.gives-class:has(div.needs-class){}
'''

If you can give me more context about the issue i might have a way to do it

[2022-09-23 19:11] VividLemon commented on #470
![image](https://user-images.githubusercontent.com/31498096/192039285-442408b3-50ba-4d29-a8a7-cd2068d7f265.png)
The corners on the left side of this button should not be rounded. They should be flush with the input element.
It's not very noticeable with one button, but this
![image](https://user-images.githubusercontent.com/31498096/192039382-6c220e76-f4c3-4226-acce-242fe71d92db.png)
Doesn't look

[2022-09-23 19:56] devhus commented on #470
Well, let me see..

[2022-09-24 00:06] VividLemon commented on #470
I think this is a better idea, as I did in https://github.com/cdmoro/bootstrap-vue-3/pull/703. The need for a wrapper element was needed in BV because Vue 2 can't do multiple root nodes. As such, I removed the wrapper single root element, which removed some of the props for that component. So far everything looks correct 👀 However, there **does** exist an issue when using dropdowns in those positi

[2022-09-24 01:28] devhus commented on #470
@VividLemon Np, I did think the same about removing the container div but, I didn't want to do it because it wasn't clear to me if was important or not, so I made a solution and give you another and it's up to you anyways 😆
I will look into it

[2022-09-24 01:55] devhus commented on #470
@VividLemon endless circle of PR, look into https://github.com/cdmoro/bootstrap-vue-3/pull/704

[2022-09-24 02:08] devhus commented on #694
After thinking about it, I am not quite sure a custom filter function is really needed since you can already filter the items through the ``provider`` prop which is the alternative option for https://bootstrap-vue.org/docs/components/table#using-items-provider-functions
Note that you could also sort the items through the provider but, I've added ``sort-compare`` prop as an exception since sorting

[2022-09-24 02:30] VividLemon commented on #470
It do really be like that

[2022-09-24 02:45] #470 closed

[2022-09-24 04:38] xiangnanscu opened #706 "Refresh page when developing nuxt 3 raise document not defined error"
**Describe the bug**
The nuxt page display
[code]

**To Reproduce**
just refresh page

**Expected behavior**
not happen

**Screenshots**
![image](https://user-images.githubusercontent.com/8246344/192080145-c44e6248-6eeb-4108-8fb0-32a25220cebc.png)

**Environment (please complete the following information):**
 - OS: [e.g. Windows 10 wsl2 ubuntu 20.04]
 - Version [e.g. 0.2.6]

**Additional context**

[2022-09-24 05:46] VividLemon commented on #706
Bootstrap v5 is not ssr friendly. Your error is pointing to a bootstrap js file.

I believe they're planning on making ssr friendly changes in an upcoming update. But since they're not ssr friendly, we do not support ssr applications

[2022-09-27 10:28] snmuhein commented on #244
Yes, the basic examples from the documentation work.

But it does not work if the slides are created with v-for:

[code]

[2022-09-27 10:37] syukriyansyah-ipb opened #710 "Where can i find stepper?"
I want to create a process using stepper like as https://mdbootstrap.com/docs/b4/vue/components/stepper/.

[2022-09-27 11:53] dagnelies commented on #244
That's a pity. When I sent the MR to fix, I had a look at the component and could figure out how it works.

https://github.com/cdmoro/bootstrap-vue-3/blob/main/packages/bootstrap-vue-3/src/components/BCarousel/BCarousel.vue

It basically renders the HTML normally and invokes the bootstrap Carousel code on top when mounted. I guess the `v-for` introduces some dynamics which makes it incompatible. I

[2022-09-27 15:00] VividLemon commented on #710
It's unlikely this component would ever be made, especially prior to a v1.0. This is neither a Bootstrap or bootstrap-vue component. Maybe in the far future this library could be reviewed and some components could be ported over, but there's a lot to do before getting to that point.

[2022-09-27 15:04] VividLemon commented on #244
It would be nice to try to transition away from using Bootstrap js code and using only Vue internally. The carousel js code is relatively simple, which is nice. Most of it is handling some event listeners, and controlling how the images change. Both of which are extremely simple, thanks to Vue. But it's not very important to get to.

[2022-09-28 10:43] tghkuma opened #712 "v-b-tooltip error"
**Describe the bug**

An error occurs in `v-b-tooltip` [beforeMount()](https://github.com/cdmoro/bootstrap-vue-3/blob/v0.3.5/packages/bootstrap-vue-3/src/directives/BTooltip.ts#L78) and [mount()](https://github.com/cdmoro/bootstrap-vue-3/blob/v0.3.5/packages/bootstrap-vue-3/src/directives/BTooltip.ts#L100) processing

**To Reproduce**

[https://stackblitz.com/edit/nuxt-starter-tiibpb?file=app.vue]

[2022-09-28 12:07] devhus commented on #712
Bootstrap js scripts do not support SSR in case you are trying to use this library on NUXT project, it will not work correctly.

[2022-09-28 12:11] tghkuma commented on #712
@devhus Of course `ssr=false`
https://stackblitz.com/edit/nuxt-starter-tiibpb?file=nuxt.config.ts

[2022-09-28 14:43] vkovalev-mjhs opened #713 "Component b-nav-item multiple props combined issue"
Component **b-nav-item** rendered doesn't have "active" class when combined with prop **to**

Steps to reproduce the behavior:

    <b-nav tabs>
       <b-nav-item active>Home</b-nav-item>
    </b-nav>

is good.

    <b-nav tabs>
       <b-nav-item active to="/Home">Home</b-nav-item>
    </b-nav>

doesn't have "active" class.

[2022-09-28 14:46] alexdohm opened #714 "BBreadcrumbItem non-active crumbs do not display"
Inactive breadcrumbs do not show up when rendered using the `<b-breadcrumb-item>` component

Take for example the following example (from Bootstrap Vue 2, but looking at your source code, it should be similar for BV-3)

[code]

Outputs the following :

<img width="174" alt="Screenshot 2022-09-28 at 16 41 51" src="https://user-images.githubusercontent.com/26983611/192809233-5fc8379c-8c0b-4b07-ba93-

[2022-09-28 16:39] VividLemon commented on #713
There's a bug on the <a> element... `<a text="foo">bar</a>` in vue, it renders "foo" instead of "bar". This should not be happening. Regardless, it is fixed https://github.com/cdmoro/bootstrap-vue-3/pull/715

[2022-09-28 16:44] VividLemon commented on #714
There's a bug on the <a> element... `<a text="foo">bar</a>` in vue, it renders "foo" instead of "bar". This should not be happening. Regardless, it is fixed https://github.com/cdmoro/bootstrap-vue-3/pull/715

[2022-09-28 20:06] VividLemon commented on #713
Not sure if this is the best solution, but https://github.com/cdmoro/bootstrap-vue-3/pull/719

[2022-09-28 20:06] #713 closed

[2022-09-28 20:07] VividLemon commented on #712
Would you be willing to test this on a basic Vue app? To determine if your issue is exactly Nuxt or exists in Vue as well

[2022-09-28 21:43] tghkuma commented on #712
@VividLemon I tried with `Vue 3`
https://stackblitz.com/edit/vue-yw74js?file=src%2FApp.vue
had the same symptoms

After that, the following is no longer updated from the second button click. (same for nuxt3 version)
[code]

[2022-09-29 13:04] memen45 opened #721 "feat(navbar): fully collapse navbar when action clicked"
**Describe the bug**
Not sure if this is a bug report or feature request. Navbar collapse does not collapse when clicking a b-navbar-item with e.g. `to="/"` or `href="#"`. In [Bootstrap](https://getbootstrap.com/docs/5.2/components/navbar/#supported-content) this seems to be default behaviour, however in Bootstrap Vue the navbar would actually collapse (you can try the [first example](https://boot

[2022-09-29 13:32] mariusa commented on #697
Hi, note that the tests above still doesn't work on 0.3.7:

![2022-09-29_16-31](https://user-images.githubusercontent.com/1283842/193045261-b64a9b68-335e-4b6f-abb8-374e98b52489.png)

Thanks

[2022-09-29 14:45] alexdohm opened #723 "Events propagate through BButton Click"
If a button is clicked, the event propagates which can cause unwanted behavior. This can be mitigated with a workaround like @click.stop. I'm not sure if this was intentional by you but wanted to bring it up.

The use case I had was a table has clickable rows. Each row also has a button. If I clicked on a button, I would also activate the click on the row, which I did not want to do.

    "bootstr

[2022-09-29 14:52] VividLemon commented on #697
My mistake, I thought this was only for label-align classes.

[2022-09-29 20:51] VividLemon commented on #723
Are you saying that this is solely an issue in the table component? Or that there's multiple issues here. Realistically, why could you not use .stop? And not prevent others that would prefer it (nobody would probably prefer it though lmao, or really care). I'll also review bootstrap vue behavior as well. Just trying to see how large of an issue this may be, and if it's something that _should_ be c

[2022-09-29 20:54] VividLemon commented on #721
Can you also post where you see it happening in bootstrap?

[2022-09-29 21:06] memen45 commented on #721
In the bootstrap docs for navbar [here](https://getbootstrap.com/docs/5.2/components/navbar/#supported-content), I also added the link above.

[2022-09-30 01:05] adrianoleiterodrigues opened #724 "BModal do not close"
BModal do not close using close button and cancel button after first open.
But after close modal using ESC or backdrop and reopen then buttons now work.

Check online: [https://stackblitz.com/edit/vue-92b3l9](https://stackblitz.com/edit/vue-92b3l9)

[2022-09-30 16:05] VividLemon commented on #724
I'm confused on how you seemingly have access to the vBModal directive, it is never exported in the app, made globally, or imported. This seemingly has to do with the directive, because this syntax https://stackblitz.com/edit/vue-fkgkio?file=src%2FApp.vue works fine. I suggest using v-model syntax. But it is good to note that there may be an issue with the directive.

[2022-09-30 16:16] adrianoleiterodrigues commented on #724
I'll try to use with the v-model syntax.

Thanks! :)

[2022-09-30 16:20] VividLemon commented on #724
Honestly, the directive may be removed outright eventually to try to keep everything in Vue and not rely on the Bootstrapjs to magically solve issues.

[2022-09-30 16:54] #706 closed

[2022-09-30 16:55] #710 closed

[2022-09-30 18:54] VividLemon commented on #697
I have finalized the changes and I believe everything should be working. I have also included test cases for these two issues. This truly would not have been as big of an issue if not for the render functions 🤢 Why not just use jsx at that point?

The issue stemmed from a mishandling of how to created the align classes, and how it created the col props. Align xs class would be resulted to text-xs-

[2022-09-30 18:54] #697 closed

[2022-09-30 19:55] mariusa commented on #697
Thank you so much!

[2022-10-02 16:08] VividLemon commented on #723
@devhus assuming I can understand how this works, https://github.com/bootstrap-vue/bootstrap-vue/blob/dev/src/components/table/helpers/filter-event.js would you consider assisting with the implementation of this event filtering

[2022-10-02 19:35] devhus commented on #723
Sure, i am aware of the issue long time ago but i forgot to fix it completely.
I will do it once i get some free time

[2022-10-02 20:31] VividLemon commented on #723
K

[2022-10-03 22:08] #724 closed

[2022-10-04 07:42] Zoey1988 opened #733 "Modal dialog style doesn't work"
### Describe the bug

It seems that scoped styles are not included in the `bootstrap-vue-3/dist/bootstrap-vue-3.css`.

Example:

`.modal-dialog {
  z-index: 1051;
}`

This style does not get applied when using a modal.

[2022-10-05 09:31] alexdohm opened #737 "Debounce added to BFormInput"
Hey BV3 team :) I've been using a lot of form elements lately, and have noticed that [debounce](https://github.com/cdmoro/bootstrap-vue-3/blob/main/packages/bootstrap-vue-3/src/components/BFormInput/BFormInput.vue) is a todo item but is yet to be implemented. I was wondering if there is a timeline for this feature, and if it would be possible to implement?

[2022-10-05 10:18] Zoey1988 commented on #733
It was ok on version 0.3.7, but when we upgraded to 0.3.11, this issue happend.
As you can see in first screenshot, dialog doesn't have the proper z-index.
I deleted node-modules and installed everything again, now the problem is that data attributes are not the same on the element and in the css.

![first screenshot](https://user-images.githubusercontent.com/35141243/194036934-1e4d600c-3853-42b5-

[2022-10-05 14:39] VividLemon commented on #733
There's simply nothing that I can do with this information without a replication. From a fresh install on my end, everything is correct. Though unlikely, I would assume something was done on your end that prevents the modal from getting the correct data-v-attr. Hypothetically could could attach the correct data attribute, don't think it would cause problems.

[2022-10-05 21:52] VividLemon commented on #737
It usually comes down to "when I get around to it", as I am the only person majorly active, with perhaps one person at any given time pushing some small change every now and again. So, it is quite difficult to implement a _large_ feature that requires a large amount of time to research, implement, and test, that only affects a small handful of components.

[2022-10-06 17:15] matheus-rodrigues00 commented on #724
Hi @adrianoleiterodrigues.
I recommend you to try to use the following modal component:
https://www.npmjs.com/package/vue-js-modal

[2022-10-08 18:25] dagnelies opened #739 "Participate in hacktoberfest ;)"
https://hacktoberfest.com/

Just a suggestion ;)

[2022-10-08 19:53] VividLemon commented on #739
Im interested, but a bit confused on what exactly it is

[2022-10-08 21:43] VividLemon commented on #739
Disappointingly, even with collaborator privileges, I am unable to modify the "Topics" section for the project. As such, I am not able to add the required topic to be eligible.

Regardless, I find that most of the issues in the library have become more difficult issues, that one would need to spend a bit longer amount of time to diagnose and fix. Not sure how many people would be willing to learni

[2022-10-09 19:18] dagnelies commented on #739
Well, that's a pity. Let's simply close it then.

[2022-10-09 19:18] #739 closed

[2022-10-10 09:23] alexdohm opened #740 "SortCompare not working for BTable"
When using a custom `sort-compare` prop function, the table does not properly sort. If the `sort-compare` prop is removed, the table sorts. This becomes a problem when custom slots are used for rendering the table, since a `sort-compare` function is necessary for sorting. Here is a simple example :

[code]
Clicking on a header does an initial sort, but with subsequent clicks nothing gets sorted. I

[2022-10-10 16:46] fabis94 opened #741 "Type 'string' is not assignable to type 'ButtonType | undefined'."
There's a TypeScript error in this package:

[code]

Installed version: 0.3.11

[2022-10-10 17:03] fabis94 commented on #741
This prevents me from using `vue-tsc` to type-check my project

[2022-10-10 19:55] VividLemon commented on #741
This isn't very helpful without a reproduction, because in all of my tests and reproduction, I get nothing remotely similar to your issue.

[2022-10-10 23:46] VividLemon commented on #740
At some point I'm going to go in and do a clean up and refactoring of the table component. It seems bloated and can be difficult to work on. It will take awhile because there's a lot of parts to it. Regardless, I'm busy fixing the toasts so I won't be able to get to it for awhile.

[2022-10-11 03:53] #557 closed

[2022-10-11 03:53] #548 closed

[2022-10-11 07:26] diyan-gochev-at-ft-dot-com opened #742 "BTable never hides the busy indicator when using provider function"
### Describe the bug

BTable never hides the busy indicator when using provider function

### Steps to reproduce the bug

1. Create BTable
2. Set provider function
3. Load fake data with Promise and setTimeout
4. Loader never hides.

### Expected behavior

After loading the data, the busy indicator should be hidden.

### Versions

**Libraries:**

    "bootstrap": "^5.2.0",
    "bootstrap-vue-3": "

[2022-10-11 09:25] maxdiable commented on #491
I had already thought of this solution, but I thought there was a method to
show or hide the modal as it happens for bootstrap-vue 2

BR
Max

Il gio 21 lug 2022, 14:52 Markus Wegmann ***@***.***> ha
scritto:

[2022-10-11 10:42] neo7337 opened #743 "ModelValue not updating to false on closing the Modal using the cross(X) button on header"
**Describe the bug**
The modal has a header where the (X) button is present which is meant to close the button. But I noticed that it closes the modal but on clicking the button again to open the modal the modal does not open. So I further investigated the props value using the Vue extension and noticed that the modelValue is not getting updated on hide.

**Expected behavior**
Expected behaviour s

[2022-10-11 12:27] VividLemon commented on #743
I have a rough draft in the works that eliminates Bootstrapjs on Modal and will fix the complexity of dealing with both Vue and Bootstrapjs. Just dealing with it _always_ being lazy rendered...

[2022-10-11 12:48] alexdohm commented on #740
okay no problem :) just wanted to document this so its on your radar

[2022-10-11 15:53] gvaliani commented on #244
I have found that this works if indicators are not set in b-carousel. Just ```<b-carousel controls>```.

[2022-10-11 16:08] VividLemon commented on #741
Nuxt attempts to do vue-tsc lib checking when it generates `components.d.ts`. The components are pulled there, then go through nuxt lib checking and ignore the rules of tsconfig. Vue-tsc will ignore "node_modules" correctly, but it will lib-check "components.d.ts" correctly (correctly, but, causing errors).

I made a patch in my uncommitted code, but it doesn't fix the core problem, and the core p

[2022-10-11 16:53] diyan-gochev-at-ft-dot-com commented on #742
@VividLemon Hi, I have attached demo link. Do we have any update?

[2022-10-11 17:00] VividLemon commented on #742
https://github.com/cdmoro/bootstrap-vue-3/issues/740#issuecomment-1273918021 same applies

[2022-10-11 17:10] diyan-gochev-at-ft-dot-com commented on #742
I completely understand, but it seems easy to fix and the impact seem to be huge.

[2022-10-11 17:14] VividLemon commented on #742
I'm guessing the `internalBusy` ref used in the component is not being set back to false. If you happen to find where it is, you are welcome to submit a PR.

[2022-10-11 17:21] diyan-gochev-at-ft-dot-com commented on #742
I am using bootstrap-vue-3.es.js which does not have un-minified version to troubleshoot/debug the source code. The project is not TS, it's pure JS.

[2022-10-11 17:56] diyan-gochev-at-ft-dot-com commented on #742
@VividLemon
<img width="484" alt="image" src="https://user-images.githubusercontent.com/97102927/195164612-405d4352-736c-4185-8cb0-a2d74285d93c.png">

I think this is the problem, the should be the opposite, without '!' (exclamation mark), but check again. This is my first read of the source code.

[2022-10-11 18:37] diyan-gochev-at-ft-dot-com commented on #742
@VividLemon PR has been created. Please review the changes.

[2022-10-11 18:58] #742 closed

[2022-10-11 19:34] diyan-gochev-at-ft-dot-com commented on #742
@VividLemon works perfect! Thanks for the quick reaction!

[2022-10-12 05:16] MyungGyu opened #745 "b-breadcrumb error"
**Describe the bug**

The `key` for `v-for` should not be an index.

**To Reproduce**

**Expected behavior**
`item` instead of `index`

**Screenshots**
![image](https://user-images.githubusercontent.com/34330511/195255959-7688a104-13ac-43d0-830b-b24fe0f2fdd8.png)

**Environment (please complete the following information):**
 - OS: Window10

**Additional context**

[2022-10-12 11:59] VividLemon commented on #745
And what's the problem

[2022-10-12 23:50] MyungGyu commented on #745
The href is not changed because the DOM is not updated.

[2022-10-13 00:02] VividLemon commented on #745
I don't think this is the issue. I suggest making a reproduction.

[2022-10-13 01:02] MyungGyu commented on #745
All right. Thank you.

[2022-10-13 05:11] MyungGyu commented on #745
sorry.. I'm not good at English. I didn't know the meaning of `reproduction`.

### my code

[code]

If the route of the route is changed, only `text` is changed and `href` is not changed.

So I tried two things.

first
In BBreadcrumbs.vue(bootstrap-vue-3)
[code]

second
In My Code
[code]

Was it the answer to the reproduction? Thank you.

[2022-10-13 19:36] amery opened #746 "Event handlers can't be assigned"
**Describe the bug**

I was trying to solve a problem using v0.3.12 that failed because vue's PropType was being shaken out of existence on my nuxt 3 app (apparently the solution is to use `import type { PropType } from 'vue';`) so I cloned bootstrap-vue-3 inside my pnpm based monorepo which has typescript set to strict to be flooded by TS2322 error on event handlers

[code]
what surprises me most

[2022-10-13 20:20] amery commented on #746
@VividLemon I checked out the project outside my monorepo and linked to it, but to use from mine I had to `pnpm add -D @nuxt/kit`. No things are working, and PropType doesn't disappears.

[2022-10-13 20:53] VividLemon commented on #746
So good then?

[2022-10-13 20:55] amery commented on #746
@VividLemon as a workaround, yes. still have no idea why `PropType` disappears when using the released `bootstrap-vue-3` package, or why event handlers types go nuts when checking it out inside my monorepo.

[2022-10-13 21:01] VividLemon commented on #746
👍

[2022-10-13 21:01] #746 closed

[2022-10-14 01:04] MyungGyu commented on #745
I am sending you the attached `code sandbox` because the `reproduction` I gave you is not enough.

https://codesandbox.io/s/thirsty-chandrasekhar-33mktq?file=/src/App.vue

### Try the following procedure.
#### step 1.
![image](https://user-images.githubusercontent.com/34330511/195738443-d03d0f51-90f0-47e2-8907-1ea617eadcbe.png)

#### step 2.
![image](https://user-images.githubusercontent.com/34330

[2022-10-14 01:42] VividLemon commented on #745
Thank you, this is very odd behavior. I'll try to find a solution tomorrow.

[2022-10-14 01:50] MyungGyu commented on #745
Thank you!

[2022-10-15 09:03] Zoey1988 commented on #733
As you guessed it was an issue in our project, after deleting node-modules and installing again, it's working now.

[2022-10-15 09:03] #733 closed

[2022-10-15 18:11] aceofwings commented on #396
@VividLemon if you haven’t already , I’ve been writing this component up

[2022-10-15 18:56] VividLemon commented on #396
No, the functionality was a bit too complex for me to justify for a pre 1.0 custom component. 👍

[2022-10-15 22:56] amery commented on #232
@VividLemon would it be possible to have a maintained `ssr` branch here, same as `main` but using @xvaara's bootstrap fork? `@nuxt/kit` dependencies is needed too.

[code]

users of that branch would then need to:
[code]

easy peasy :) and we can all carry on moving while we wait for bootstrap 5.3 without having to maintain our own forks :pray:

[2022-10-15 23:06] VividLemon commented on #232
Im working on removing bootstrap js outright, at which point ssr apps will be supported. As much as I enjoy your idea, I think it's a detour to fixing the real issue.

If you or anyone wants to help, most bootstrap js basically handles transition states, which can be mostly handled by BTransition component. Some are obviously more complex

[2022-10-15 23:29] amery commented on #232
somehow I assumed you were invariably bound to bootstrap itself, but making it version-neutral sounds awesome

I don't know much javascript but I'll follow your pointer and try to dive deeper

[2022-10-15 23:41] VividLemon commented on #232
https://github.com/cdmoro/bootstrap-vue-3/projects/5

[2022-10-16 00:05] VividLemon commented on #232
Bootstrap js is simply JS that's depressed because it's not Vue.

[2022-10-16 18:14] devhus commented on #743
This issue has been fixed before, what is the library version you are using ?

[2022-10-16 18:15] dagnelies opened #749 "const toast = useToast() breaks my app"
These two lines break my app.

[code]

*Just by including it, the whole view is not even rendered anymore!* ...and I did not even trigger a toast yet. It took me quite a while to figure out it was the culprit.

Here is cryptic error in the console:
[code]

I don't know why the source maps are not activated in dev mode, I'll look into it later.

Edit: looks similar to the second part of #283

[2022-10-16 18:33] dagnelies commented on #244
@gvaliani  Actually, the indicators should work ...as long as the active slide is the first one.

If another slide is the starting one, there is an undocumented property to add: `<b-carousel indicators starting-slide="2" ...` where the first slide starts with index 0. It's a bit ugly but I didn't know how to make it right.

Not to next developer/fixer: the whole `active` thing should IMHO actually

[2022-10-17 02:56] VividLemon commented on #749
This is like the fifth toast related topic this week. Getting kind of tired stating that I'm working on it lmao.

I thought about enabling sourcemaps. 🤔 But I don't know if the effect would cascade down to the end user.

[2022-10-18 07:21] boindil opened #750 "export types in package.json // Seperate project for bootstrap-icons"
**Is your feature request related to a problem? Please describe.**
I would like to create a new project bootstrap-vue-3-icons as suggested in #255, however the icons use types from bootstrap-vue-3.

**Describe the solution you would like**
I would prefer not to duplicate these types and instead import the original ones from the bootstrap-vue-3 library.

**Describe alternatives you have considered*

[2022-10-18 09:23] xvaara commented on #232
https://github.com/cdmoro/bootstrap-vue-3/discussions/324 I did some of the popperjs components for an earlier version. I could update them if required? But I was also thinking of using floating-ui instead of popperjs. Do we need to retain popperjs for compatibility or something?

[2022-10-18 12:03] VividLemon commented on #750
Importing types has no effect on package size. You could safely import the type from the root. But I may do your suggestion as well

[2022-10-18 12:08] VividLemon commented on #232
I'd approve that change

[2022-10-18 12:53] VividLemon commented on #745
I'll need to revisit this in a future release. From my dev environment, using my uncommitted changes, everything is working as intended. So, it's possible I had already fixed this unintentionally.

[2022-10-18 13:53] neo7337 commented on #743
I tried upgrading but library is breaking the existing functionality, not sure if anyone else facing issue after upgrade

[2022-10-18 15:28] devhus commented on #743
Well, that means you have another issue, since the X button issue was fixed the only solution for you is to upgrade the library
If it breaks after upgrading you should create an Issue for the break, not for an old issue that is fixed
I advice you to do that and mention more details about what breaks with you.

[2022-10-18 15:53] neo7337 commented on #743
sure @devhus ! I will gather some more info and raise another issue.
We can close this issue as the issue I raised has already been addressed!

[2022-10-19 00:58] VividLemon commented on #743
https://github.com/cdmoro/bootstrap-vue-3/pull/751/files#diff-9053fefc170f47ebfdc5d697fb953cb52923055e78a52e94e3f526e14315f09f

[2022-10-19 09:06] boindil commented on #750
Hi @VividLemon,

I provided the seperated everything into https://github.com/boindil/bootstrap-vue-3-icons which is essentially based on the state that the project was in when the icons were seperated. There actually isn't done much - simply grabbing the project, the deleted files and bringing everything together.

I did not publish this to npmjs and would rather like this to get put into one of y

[2022-10-19 09:10] pablobbb opened #752 "BFormFile"
Hi everyone!
Just a question... is the BFormFile under development/planned or it won't be implemented?

Thanks

[2022-10-19 12:41] xvaara commented on #232
Which change? What are your opinions about changing to floating-ui?

[2022-10-19 16:55] VividLemon commented on #752
It is not being made currently. But at some point in the future it will be. Likely not the near future.

[2022-10-20 07:23] seaChris commented on #750
Iam very intrested in this.

[2022-10-20 10:28] dagnelies commented on #752
That would be great, I'm in the need for that too. +1 vote for the priority list ;)

[2022-10-20 10:29] dagnelies commented on #749
PS: demo is broken too: https://cdmoro.github.io/bootstrap-vue-3/components/Toast.html

[2022-10-20 10:42] dagnelies commented on #710
@syukriyansyah-ipb Have you designed such a component in the meantime? I'm looking for that too.

[2022-10-20 22:10] devhus commented on #723
This issue will be resolved in my next PR, Sorry for the delay.

[2022-10-20 22:36] devhus commented on #656
Hmmm, it works correctly with me and on Codesandbox.
https://www.loom.com/share/f5ea260df9924dba9cfb79133a55eafe
https://codesandbox.io/s/brave-perlman-kfu27i?file=/src/App.vue

Please give more details like console logs and try to reproduce it on Codesandbox

[2022-10-20 22:47] devhus commented on #740
Hello There, It seems like the issue is in the given example,
as mentioned in https://github.com/cdmoro/bootstrap-vue-3/pull/695 your ``sort-compare`` function should take ``sortDesc`` argument and actually use it to be able to sort desc.

for Javascript your function should look like this:
[code]

[2022-10-20 22:48] devhus commented on #740
@VividLemon feel free to mention me anytime buddy 👍🏼

[2022-10-21 02:50] aceofwings commented on #750
@boindil I think it would be great to have this functionality back. @jclijmans contributions were removed some time ago however I think it is important to have. Does tree shake work effectively in your project currently? The original bootstrap vue compiles SVGs and Icon definitions into their own files thus minimizing size based off of usage.

[2022-10-21 07:23] boindil commented on #750
@aceofwings as of now I dont think it does, but I can have a look into it.

My next step however will be to convert the project structure to the new one of this project.

[2022-10-21 13:19] aceofwings commented on #750
Yeah it will pull the whole svg package. If you need any assistance on structure let me know. I can also work on it as I build the spin button.

[2022-10-21 13:31] boindil commented on #750
I actually should be done converting the repository structure. There might be improvements to be done on the actual components as they look quite different in comparison (interfaces, props, ...) but for now it should be fine.

I've already looked into what bootstrap-vue originally did and will try to recreate that mechanic to allow tree-shaking.

If I need any assistance, I will gladly accept your

[2022-10-21 14:06] xvaara opened #756 "class with $attrs inheritance"
I think that in some components the inheritance of $attrs is little weird.

for example if I want to add a class to b-form-checkbox it goes to the input element, not to the wrapping div.
on the other hand for other attrs it's great that they bind to the input.

should the class be bind to the root element and we could have inputClass and labelClass props that would bind to those.
I'm having some d

[2022-10-21 14:17] VividLemon commented on #756
That's a tough one to solve. On one hand, I _think_ it's a remnant of what bootstrap-vue decided. Which, would mean that if we made a fixing change, that it would be a major breaking change to those components. On the other, it would be nice if there was an easy way to modify both in cases like you exampled. In such cases, a way to have non-breaking functionality would be to add optional prop attr

[2022-10-21 15:41] VividLemon commented on #750
Instead of focusing on the setup of the library, you can create the package in bv3, and I can get everything configured. If you would like, I can take the relevant changes from your library, then you can work on building it in this library.

[2022-10-21 19:28] boindil commented on #750
Yes, that sounds great to me. Since the project structure is now matching the one of bv3 this should be an easy one. For now I have tested publishing to npm (@boindil/bootstrap-vue-3-icons) and using it in another project. Works fine so far.

I'll probably start poking around the separate icon-components to allow tree-shaking on monday.

[2022-10-21 21:32] VividLemon commented on #750
I'll work on bringing the library into ours soon. Since I don't have access to the repository secrets, I can't set up npm publishing at the moment.

[2022-10-22 08:47] xvaara commented on #756
Could we just "massage" the $attrs to remove the class and put that to the root element. That would solve my problem and change as little as possible.

[2022-10-22 14:15] VividLemon commented on #756
Not sure what you mean

[2022-10-22 15:43] VividLemon commented on #750
I have pulled your library into ours [here](https://github.com/cdmoro/bootstrap-vue-3/tree/main/packages/bootstrap-vue-3-icons). I think the best option for development on your end is probably to create a fork of this library, and become a contributor upstream here. You can read the contributing.md at the root for information if you need it, and are free to ask any questions here on how to help.

[2022-10-22 17:47] #723 closed

[2022-10-22 22:25] boindil commented on #750
Sounds great to me. As for the non package: I intentionally used `@boindil` as prefix. Once everything is separately available from this project, I will deprecate that and hint to the official one.

[2022-10-24 10:16] RuBaWa opened #764 "Plugin automatically register bootstrap event, unexpected behavior"
**Describe the bug**
It seems, that this plugin automatically registers all bootstrap js events, which can be used by data-attributes like data-bs-toggle="collapse". So without any initialization, we can use this registration. But if i include manually thinks from bootstrap package, this get broken. The events seems to get registered twice and fires twice at click. You see it an dropdown and colla

[2022-10-24 10:16] bperel opened #765 "Toggle directive docs are not accessible"
The link in the [Collapse page](https://cdmoro.github.io/bootstrap-vue-3/components/Collapse.html) pointing to [here](https://cdmoro.github.io/docs/directives/toggle) results in a 404.

[2022-10-24 13:12] stritti opened #766 "Modal: Migrate from BoostrapVue + vue2 to boostrap-vue-3 + vue3"
**What you are trying to do**
Currently I try to migrate from vue2 to vue3. We use in methods to show/hide modals like
[code]

How could this be done using boostrap-vue-3?

**What you have already tried**
Investigated in docs.

[2022-10-24 14:01] VividLemon commented on #766
No, it's vmodels only. Not sure if it will be supported, mostly because im not sure how it's done, or if you can actually use those global method injections like shown in vue 3.

Hypothetically you could achieve the same result with global state management like pinia. But with more boilerplate

[2022-10-24 14:08] stritti commented on #766
Hm, okay. Thanks for reply. Global state sounds not like a perfect solution to show/hide modals.

[2022-10-24 18:58] lokoamigo opened #767 "v-b-toggle not working properly"
**Describe the bug**
First of all, im new to nuxt and nuxt 3 especially so dont blame me if the error is on nuxts side.
To the Problem:
Whenever i try to use the v-b-toggle directive, the side wont render properly.

**To Reproduce**
I wanted to make an accordion as documented [here](https://cdmoro.github.io/bootstrap-vue-3/components/Collapse.html#trigger-multiple-collapse-elements). As soon as i

[2022-10-24 23:22] VividLemon commented on #767
Bootstrap-vue-3 is not SSR ready, and will have those issues. Nothing you have done is wrong, but I believe the issue comes from the fact that the directive is never loaded in and is pretty much inaccessible to Nuxt. The `this.$root` syntax will not work at all, or ever, in Vue3 script setup syntax.

[2022-10-24 23:34] VividLemon commented on #765
The docs are not fully completed yet. Especially those for directives, since they are pretty much unfinished.

[2022-10-25 11:08] lokoamigo commented on #767
Thanks for your prompt answer. I know that my whole project architecture is very experimental, but i didn't imagine that my use case here is so hard to implement.
Can you think of any workaround for this?

[2022-10-25 12:54] NNeto opened #768 "b-table pagination not working when filtering"
**Describe the bug**
Trying the working example on #643 but when I filter the items by typing something in the filter input and it returns more than one page of results, changing the page does not work.

**To Reproduce**
Steps to reproduce the behaviour:
1. Copy and paste the code of the working example on #643
2. Enter "fa" into the filter input (which will filter the rows with "false" from the "

[2022-10-25 13:01] NNeto opened #769 "formatter not working on b-table"
**Describe the bug**
Trying the working example on #643 but the cells from the "Is Active" column doesn't show "yes" or "no" specified in the `formatter` option in `fields`

**To Reproduce**
Steps to reproduce the behaviour:
1. Copy and paste the code of the working example on #643
4. See that the values on the "Is Active" column are "true" or "false"

**Expected behaviour**
Cells should contain "

[2022-10-25 19:08] NNeto opened #770 "b-table filtering fails if items have null values"
**Describe the bug**
Trying the working example on #643 but when an item have at least one null root property and I type something in the filter input, the filter doesn't work and the browser console shows `Uncaught (in promise) TypeError: can't convert null to object` on each keystroke.

**To Reproduce**
Steps to reproduce the behaviour:
1. Copy and paste the code of the working example on #643
2

[2022-10-25 19:37] VividLemon commented on #770
Stop finding broken stuff lmao

[2022-10-26 04:58] mariusa commented on #255
@VividLemon saw you started to include icons again. Would you please make sure that it doesn't add anything to the build for people not using that custom functionality? Other use other icon fonts. I personally use `<i class="bi bi-gear"></i>` which works great, no need for extra code to output this. Thanks

[2022-10-26 12:22] aceofwings commented on #255
@mariusa we understand your concerns but the current direction will not involve including the entire sprite package as originally done thus limiting size to only chosen icons ( still in development).

[2022-10-26 12:42] VividLemon commented on #255
It's a separate package

[2022-10-26 22:45] devhus commented on #770
Who are you and how much did they pay you? 😆

[2022-10-28 09:28] AltF02 opened #771 "[Question] 0.4.0 release on npm?"
**What you are trying to do**
I am trying to update to the most recent version (0.4.0)

**What you have already tried**
I could provide the direct git link, but its missing on npmjs.org

[2022-10-28 12:51] boindil commented on #750
@VividLemon I added a new commit here that hopefully should be close to what we are trying to achieve: https://github.com/boindil/bootstrap-vue-3/commit/6c6ce694ff4ce0313d7f25e79221940bce95f862

I tried to make it close to the original attempt of BV but use the newer structure of this project.

However there are still some things that should or have to be addressed:
- Generation of *.d.ts files fa

[2022-10-28 12:59] yashwanth2714 opened #772 "Error  in ./node_modules/bootstrap-vue-3/dist/bootstrap-vue-3.es.js"
**Describe the bug**
We are getting the follow bootstrap-vue-3 error in node modules.

<img width="602" alt="image" src="https://user-images.githubusercontent.com/36370530/198593614-3e8afe5c-07bf-44bf-8309-4119348200a4.png">

Please let us know what might be causing the issue.

Node Version: 14.17.3
NPM Version: 6.14.13

[2022-10-28 13:17] VividLemon commented on #772
You probably didn't install the necessary peer dependencies

[2022-10-28 13:23] yashwanth2714 commented on #772
Yeah. I am installing "bootstrap" now. This may resolve the issue. I will update here.

[2022-10-28 14:24] VividLemon commented on #772
Vue, bootstrap and @popperjs/core are all required peer dependencies.

[2022-10-28 14:26] VividLemon commented on #771
Occasionally the ci breaks with this issue.
![image](https://user-images.githubusercontent.com/31498096/198644028-5a6ab782-0402-49b9-8cd5-9686c4308e08.png)

[2022-10-28 14:48] yashwanth2714 commented on #772
Thanks! I don't see that error now.

[2022-10-28 14:48] #772 closed

[2022-10-28 15:08] AltF02 commented on #771
It could be that because you are tracking `pnpm-lock.json` when [pnpm install --ignore-scripts](https://github.com/cdmoro/bootstrap-vue-3/blob/main/.github/workflows/npm-publish.yaml#L33) runs. That it gets updated with new packages not yet indexed in the lockfile on HEAD.

A solution would be adding `--frozen-lockfile` to `pnpm install` as found [here](https://pnpm.io/cli/install)

[2022-10-28 15:40] VividLemon commented on #771
![image](https://user-images.githubusercontent.com/31498096/198677788-09040b96-1989-445d-83d6-8cc07461c62f.png)

[2022-10-28 15:44] AltF02 commented on #771
:/ https://github.com/cdmoro/bootstrap-vue-3/actions/runs/3346668168/jobs/5543758456 seems like it failed anyways. Let me try if I can replicate it locally

[2022-10-28 15:54] AltF02 commented on #771
I created #773, not intended to be merged, but could give us some more answers

[2022-10-28 16:13] VividLemon commented on #771
![image](https://user-images.githubusercontent.com/31498096/198684078-250a0642-cef2-47fc-b526-d08a0b3c923f.png)
wot

[2022-10-28 16:15] AltF02 commented on #771
hmm that's odd, I guess you could add `--no-git-checks` although its a hacky solution

[2022-10-28 23:10] xvaara opened #778 "tabs/tab prevents v-slot from working."
see: https://stackblitz.com/edit/vue-m12yay?file=src/App.vue

if you input text it changes in the slot, but not in the tab. The inner workings of tabs is borderline black magic for me.

[2022-10-29 03:15] #665 closed

[2022-10-29 03:15] #662 closed

[2022-10-29 03:15] #657 closed

[2022-10-29 09:15] papppeter opened #779 "Errors in documentation pages"
**Describe the bug**
Maybe it is only for me but is see many errors in documentation pages. Which makes me hasitating to use this component.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://cdmoro.github.io/bootstrap-vue-3/components/Overlay.html#form-confirmation-prompt-and-upload-status
2. Click on submit
3. there is no overlay
4. code lines are not all with black background

[2022-10-29 20:35] devhus commented on #769
That's not a bug, the formatter feature is not implemented yet

[2022-10-29 20:42] VividLemon commented on #779
There isn't a "typical" overlay, because in the code below it, it's overwriting the overlay slot. The _Are you sure?_ blob **is** the overlay. Albeit, hideously overlapping the button.

[2022-10-30 09:32] devhus opened #781 "NPM incorrect version & disability to install latest"
The latest version of the package not found and cannot be installed
![image](https://user-images.githubusercontent.com/58523735/198871779-38cc797e-a4ad-46cf-b7b3-b7187e550cef.png)

Also, the package version on https://www.npmjs.com/package/bootstrap-vue-3 is very old
![image](https://user-images.githubusercontent.com/58523735/198871756-308fc726-917f-4cf1-b53f-379e749752f2.png)

[2022-10-30 12:44] VividLemon commented on #781
Duplicate of

https://github.com/cdmoro/bootstrap-vue-3/issues/771

[2022-10-30 12:44] #781 closed

[2022-10-30 14:33] VividLemon commented on #771
The unknown branch issue is different because when a release is manually created, actions/checkout@v3 does not automatically check out the main branch ~~ it checks out HEAD.

The git unclean issue is still an issue, but doesn't seem to be occurring at the moment.

But the main issue right now is that npm is failing to authenticate when running publish. I think pnpm may have made a change recently

[2022-10-30 15:23] #770 closed

[2022-10-30 15:23] #768 closed

[2022-10-31 11:01] alexdohm commented on #771
so im noticing that this is still not available with 0.4.3...should it be accessible now over npm? sorry if youre still working on this!

[2022-11-01 03:50] #674 closed

[2022-11-01 08:12] TechAkayy opened #786 "Auto-generate and support web types"
Please auto-generate and support web-types [JetBrains/web-types#distribution](https://github.com/JetBrains/web-types#distribution). This is very valuable for the users.

All other top vue-based component libraries like vuetify, quasar, naive-ui, bootstrap-vue, ionic/vue, nuxt, ant-design-vue, element-plus, etc., all auto-generate & support web-types. Thank you!

[2022-11-01 13:20] VividLemon commented on #786
You'd probably be better of creating the file than I am. I don't have any JetBrains products, so I wouldn't be able to test if what I wrote was properly working.If you wrote it for bootstrap-vue-3 and bootstrap-vue-3-icons, I would merge it.

[2022-11-03 17:08] NNeto commented on #282
This is still an issue, right? I tried using the events from `b-popover` but to no success. Currently on 0.3.12

[2022-11-03 21:40] VividLemon commented on #282
There has been no progress on that component. I think another contributor was toying with the idea of moving that component off of using popper to handle the functionality and using a vue specific solution.

As it stands, unlike the few other components that need to be moved off of bootstrap js, this one likely needs more attention

@xvaara do you have an update on possibly using that other packag

[2022-11-04 10:55] devbipu opened #789 "How to customize bootstrap default theme color and spacing?"
I'm using Bootstrap vue 3 on Laravel and vue project. I need to customize defaults color and font family of bootstrap. How can I do that because it's importing css files in app.js

[2022-11-04 11:11] devbipu commented on #348
Where I've to create this file and it's js or sccs file? I've to import it into app.js??

[2022-11-04 12:51] HenryUxDesugner commented on #771
any luck or can you give the steps to build and use locally?

[2022-11-04 13:16] VividLemon commented on #348
The example is a sass file that makes the overrides, then imports the bootstrap styles needed. You would then import this into app.js.

It could be more complex for different use cases

[2022-11-04 13:18] VividLemon commented on #771
The source is available on each release https://github.com/cdmoro/bootstrap-vue-3/releases/tag/v0.4.4 . You can download it, unpack it, open the new folder, run pnpm install, pnpm build, then cut out the ./packages/bootstrap-vue-3 folder. At that point, the folder is an exact copy of what you'd get in node_modules. How you would use this folder is unknown to me. It could go into node_modules, but

[2022-11-04 14:02] AltF02 commented on #771
You could possibly create temporary npm package at like `@vividlemon/bootstrap-vue3` until you regain access to the token?

[2022-11-04 17:18] devbipu commented on #348
One more think, Will I import .scss file into app.js or I will import compile .css file into app.js?

[2022-11-04 17:24] esl51 opened #790 "How to extend ColorVariant, ButtonVariant, etc.?"
**What you are trying to do**
I can extend bootstrap using scss. For example, add my own colors, sizes, etc.
But I can't use them.

**What you have already tried**
[code]

**Any error messages you are getting**
TS2322: Type '"purple"' is not assignable to type 'ButtonVariant | undefined'.

**Environment:**
 - OS: MacOS Monterey 12.6
 - Version: 0.3.12

[2022-11-04 18:01] VividLemon commented on #790
Fundamentally the code would need to be rewritten on our end to support that. One would need to somehow override the ColorVariant interface. If it was directly modified in the dist, then it would be written over on subsequent installs. Not very intuitive.

You could attempt to typecast - `'purple' as unknown as ColorVariant`

Doing as you reference would be a nice thing to support, but would requi

[2022-11-04 18:13] HenryUxDesugner commented on #771
Thank you @VividLemon . Also @AltF02 is it possible for you to generate a version of it in your own registry?

[2022-11-04 20:19] aceofwings commented on #790
Please note that the prop type only applies the variant class to the given component . Make sure to follow color guide [here](https://getbootstrap.com/docs/5.0/customize/color/). You can also look at bootswatch for theming. This issue is beyond the scope of bootstrapvue.

[2022-11-04 20:27] AltF02 commented on #771
@HenryUxDesugner possibly, I was running into some issues today, and unfortunately didn't have the time to figure them out. I will look further into it tomorrow :)

[2022-11-04 20:36] esl51 commented on #790
I can create [my own color maps](https://getbootstrap.com/docs/5.0/customize/sass/#add-to-map) with bootstrap

[code]

and then use them:

[code]

but can't use them with bootstrap-vue.

I also can't solve it with class because BButton has default 'secondary' variant.

[code]
turns into this:
[code]

Thereby, I think this issue is in the scope of bootstrap-vue.

[2022-11-04 21:42] aceofwings commented on #790
As @VividLemon lemon mentioned this will be considered an enhancement.. However I think its better to address this in the docs on how to extend our library typing namespace then to write generic code to address this issue and thus use your types as needed.

[2022-11-04 22:43] VividLemon commented on #790
How would you like to move forward with https://github.com/cdmoro/bootstrap-vue-3/pull/791 ? Should it be closed? What would you like done with this issue? How do should we plan on solving it?

[2022-11-04 23:58] VividLemon commented on #771
https://www.npmjs.com/package/bootstrap-vue-3
v0.4.6 has been released

The error with `ERR_PNPM_GIT_UNKNOWN_BRANCH` was the result of `npm-publish.yaml`, since it runs based on a **created release** it is not attached to a branch. It is attached to the HEAD. And therefore, cannot publish from HEAD

The error with `ERR_PNPM_GIT_NOT_UNCLEAN` (Now, from a report I made, was renamed to `ERR_PNPM_GIT_

[2022-11-04 23:58] #771 closed

[2022-11-05 00:22] HenryUxDesugner commented on #771
@VividLemon that is really great news and thank you so much.

[2022-11-05 00:24] aceofwings commented on #790
Looks good , I guess the only way to extend types right now are through interfaces and enum declarations. That was pretty quick

[2022-11-05 00:34] VividLemon commented on #790
Would you like to review and approve/disapprove the pr? Do you think it's an accessible way to accomplish the fix?

I may go and look around in ts, I'm pretty sure there's ways to extend types without the hacky interface extend hack. Or maybe not and that's the only way, I'd be surprised if it was though, quite creative if it is.

[2022-11-05 01:22] aceofwings commented on #790
I was exploring and couldn’t find much on using unions to extend the ButtonVariant type. I think it is the only solution right now but there is a typescript doc for extending namespaces. It is a very transparent change so I don’t mind merging it until something better comes along .

[2022-11-05 01:38] VividLemon commented on #790
I'll review it again in the morning and go from there

[2022-11-07 09:56] anitan027 opened #797 "Module does not provide an export named 'BIcon'"
Does anyone encounter this error in b-icon?

Uncaught SyntaxError: The requested module '/node_modules/.vite/deps/bootstrap-vue-3.js?v=55a0019c' does not provide an export named 'BIcon'

here's my dependencies

"devDependencies": {
    "@types/node": "^16.11.68",
    "@vitejs/plugin-vue": "^3.1.2",
    "@vue/tsconfig": "^0.1.3",
    "npm-run-all": "^4.1.5",
    "typescript": "~4.7.4",
    "unplugi

[2022-11-07 12:51] VividLemon commented on #797
Never seen it, no.

[2022-11-08 02:18] anitan027 commented on #797
So <b-icon> is not yet working?

[2022-11-08 02:25] VividLemon commented on #797
It's a separate package and hasn't been published. So no. But im happy to see someone wants to try it

[2022-11-08 03:10] anitan027 commented on #797
@VividLemon Thank you

[2022-11-08 12:48] boindil commented on #750
@VividLemon I guess this has probably slipped through, but would you mind having a look at this and provide me with some feedback?

[2022-11-08 13:16] VividLemon commented on #750
What issue are you referring to?

[2022-11-09 07:57] boindil commented on #750
@VividLemon in my last post here, right before this, I posted a link to the commit in my fork where I made the changes.

Since there are still some issues where I am unsure of how to solve them, I asked for your help to get this finished hopefully soon.
- `*.d.ts` generation fails -> named exports instead?
- getting the components off the parent like in Vue2 -> no clue, didnt find anything alike i

[2022-11-10 07:32] #790 closed

[2022-11-10 09:29] esl51 opened #799 "What is the reason for not adding the autofocus attribute to b-form-input?"
https://cdmoro.github.io/bootstrap-vue-3/components/FormInput.html#autofocus

What is the reason for this behavior? The point is that I want to make my own wrapper of `BModal` and automatically set the focus to a specific input when opening a modal window with a form. And in order to make this functionality as transparent as possible and not to add extra classes, I wanted to use `querySelector('[a

[2022-11-10 14:17] VividLemon commented on #799
The autofocus attribute spec only focuses when the *page* is loaded. So it doesn't really work well with the nature of an SPA.

[2022-11-10 14:25] esl51 commented on #799
I know, but we could just add it in there. For backward compatibility or something. That wouldn't break anything, would it? In general, okay, I get the reason. Thank you.

[2022-11-10 14:48] esl51 opened #800 "BDropdown boundary not working"
**Describe the bug**
Can't change the `boundary` prop of BDropdown.

**To Reproduce**
[code]

**Expected behavior**
`.dropdown-menu` appears outside the `.test`.

**Screenshots**
![image](https://user-images.githubusercontent.com/3800914/201120921-da6c6a2b-7a4d-4c5c-b327-6ff6ce49d826.png)
![image](https://user-images.githubusercontent.com/3800914/201123897-98dfb06d-2ecf-40d8-b7fb-8230e7e98670.png)

[2022-11-10 15:05] esl51 commented on #800
`:popper-opts="{ strategy: 'fixed' }"` instead of `boundary="viewport"` [solved the problem](https://stackoverflow.com/questions/70098157/bootstrap-5-1-3-dropdown-data-bs-boundary-no-longer-works), but it's not quite clear why `boundary` then.

[2022-11-10 15:28] VividLemon commented on #800
I'd suspect because it's not fully finished. I'd like for the floating elements to get replaced with a Vue specific alternative, such as https://github.com/Akryum/floating-vue . Popper is "fine", but I could move everything into Vue, it would make it easier to use. But I have to do some research on that one, it seems like I could use the hovering pieces, while preserving also using the bootstrap c

[2022-11-10 19:47] jagjeet-ccl commented on #740
I had to use `sort-compare` to sort for all the columns or none of the columns. Returning null or false did not seem to fallback to the default sorting function.

[2022-11-11 10:24] xvaara commented on #756
we could have:
[code]
and use attrs instead of $attrs in input element, and add rootClasses to computedClasses:
[code]

[2022-11-11 10:33] xvaara commented on #232
@VividLemon hit me up on discord: `xvaara#2879` so we can chat about the floating-ui and writing out the bootstrap.js. I have so time next week, would like to coordinate with you.

[2022-11-11 13:49] VividLemon commented on #756
It would work, but I still prefer the approach of having a separate prop for the two. If it was done your way, there would be no way to put a custom class onto the receiver of attrs. I think a _rootAttr_ and _rootClass_ prop would fill in the void and allow for both modification to the element receiving attrs, and the wrapper element.

[2022-11-12 09:18] mariusa commented on #563
Bump as toasts don't work anymore after
https://github.com/cdmoro/bootstrap-vue-3/commit/c91801dee1e9264588d88d8998288d13b3a64402
@VividLemon

The docs still explain the old way of using toasts; "Show toast" doesn't work anymore
https://cdmoro.github.io/bootstrap-vue-3/components/Toast.html#toasts-on-demand

Even playgroup still has the old way:
https://github.com/cdmoro/bootstrap-vue-3/blob/main/

[2022-11-12 13:25] VividLemon commented on #563
Ngl I didn't think that stuff on the container even worked so I removed it.

[2022-11-12 13:31] mariusa commented on #563
They did work...

Would you please add that back and make a new release?

[2022-11-12 13:57] VividLemon commented on #563
https://github.com/cdmoro/bootstrap-vue-3/pull/806

[2022-11-12 14:35] mariusa commented on #563
Thanks, it's working again!

[2022-11-12 16:55] esl51 opened #807 "BFormGroup in undefined state adds class="is-invalid" and aria-invalid="true""
**Describe the bug**
I think, `BFormGroup` in `undefined` state must not contain the `class="is-invalid"` and `aria-invalid="true"`.
The issue https://github.com/cdmoro/bootstrap-vue-3/issues/554 references here, I think.

**To Reproduce**

[code]

**Expected behavior**

![image](https://user-images.githubusercontent.com/3800914/201485244-6514b315-1b4e-4e4f-8d1f-a7ba4decc6e9.png)

**Screenshots**

[2022-11-12 16:56] #799 closed

[2022-11-12 17:15] esl51 commented on #370
`mb-3` is a utility class. I also think it should be removed.

[2022-11-12 17:18] VividLemon commented on #807
BFormGroup is an outlier case where the correct way to get a "missing state" is to pass it null. It doesn't behave like the other components because it doesn't use script setup and isn't a `<template>`, rather it's a render function. Eventually it will be updated and more similar. Try passing "null", and let me know what the classes come out to be

[2022-11-12 17:23] VividLemon commented on #370
I added a todo note in my repo. When I get around to testing and converting that component, I will likely remove it.(The problem is not that it's a utility, but that there would be no way currently to add classes onto that component, if one did want to keep the margin, they could not)

[2022-11-12 17:25] esl51 commented on #807
In this case, the class is also added, but we also have an error.

![image](https://user-images.githubusercontent.com/3800914/201486536-66ebd505-350a-4788-b1b2-67a2cb8d7e54.png)

[2022-11-12 17:29] VividLemon commented on #807
:exploding_head:

[2022-11-12 17:29] esl51 commented on #807
I think this is because `useBooleanish` only returns `boolean` (with `resolveBooleanish`) or `undefined` and state always converts to one of these types. Hence it is never `null`.

[2022-11-12 17:32] VividLemon commented on #807
No, it's because it's not in the list `state: {type: [Boolean, String] as PropType<Booleanish>, default: null},`

[2022-11-12 17:34] esl51 commented on #807
Yes. I meant adding a class, not a bug in the editor. I apologize.

[2022-11-12 17:44] esl51 commented on #370
Maybe removal is not the answer. It would be great to implement some sort of global component configurator like in [BootstrapVue](https://bootstrap-vue.org/docs/reference/settings#setting-config-via-individual-component-group-plugin-imports). But since the original bootstrap doesn't have such a component, it generally doesn't fit. I think the choice is yours. If the concept is "only original compo

[2022-11-12 19:37] VividLemon commented on #370
I'll eventually remove it

[2022-11-12 19:39] VividLemon commented on #807
Don't know what you mean. But actually I'd like to get the types overhauled a bit. There's some technical issues that make overhauling pretty much impossible atm. This could be fixed though,

[2022-11-14 19:45] MCatherine1994 commented on #797
Hello everyone, I'm getting this similar error as well, "Uncaught SyntaxError: The requested module '/node_modules/.vite/deps/bootstrap-vue-3.js?v=a06b4cab' does not provide an export named 'BIcon'". Wondering if the current boorstrap-vue-3 supports icon or not?

I'm using the icon as:
<b-icon icon="asterisk"></b-icon>

Followed preferred installation method: https://cdmoro.github.io/bootstrap-vue

[2022-11-14 20:00] VividLemon commented on #797
https://github.com/cdmoro/bootstrap-vue-3/issues/797#issuecomment-1306531518

[2022-11-15 01:05] aceofwings commented on #797
Well it might be time to start the organization at move to BV3 or something like that

[2022-11-15 01:40] VividLemon commented on #797
What?

[2022-11-15 23:58] aceofwings commented on #797
Good Question, so who owns the secrets and how are they integrated into the build process? We cannot make a package underneath an organizational account similar to the original bootstrap vue?  Obviously I am keeping it simple but I am sure their is a lot more to consider.

[2022-11-16 00:21] VividLemon commented on #797
Keeping it simple, Carlos is the only one that can modify that stuff. Yesterday, I sent him an email about converting to an organization. However, it can be difficult to get his attention, especially considering there is a decent time difference.

Organizations are accounts themselves, but can organize a team. Members have permissions that are seemingly more granular than what we have currently.

[2022-11-19 00:46] #741 closed

[2022-11-19 00:46] #779 closed

[2022-11-20 12:32] xmatthias opened #810 "Alert countdown does not start"
**Describe the bug**
Using a dismissable alert with countdown does only work if the v-model ref is changed after the alert is initialized.
Having the variable already set at some value will have the timer never start

**To Reproduce**
https://stackblitz.com/edit/vue-wdw4g9?file=src%2Fcomponents%2FHelloWorld.vue

The stackblitz shows the sample from the documentation - except that `dismissCountDown

[2022-11-21 01:17] aceofwings commented on #396
#804 Completed Spin Button.

[2022-11-21 01:17] #396 closed

[2022-11-21 02:38] aceofwings commented on #810
Hi , a simple fix is on the way.

[2022-11-22 03:18] panhow commented on #357
[code]
@mariusa
here is my minimal reproduction, when switch to true,  switch won't slide to right

[2022-11-22 08:17] panhow commented on #357
ok, `making a computed value that returns based on the vmodel value.` can be help.

i will open a new issue for this problem.

thanks for reply

[2022-11-22 08:42] panhow opened #813 "CheckBox broken value/unchecked value"
**Describe the bug**
when switch to true, switch won't slide to right

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
switch will slide to right

**Environment (please complete the following information):**
 - OS: osx 12.2.1
 - Version 0.4.8

[2022-11-23 05:34] merlinkory opened #814 "installation error"
when i installing lib via npm i --save bootstrap bootstrap-vue-3 @popperjs/core
i getting error: "npm ERR! Cannot convert undefined or null to object" any idea how to fix it?

[2022-11-23 10:47] jonkad opened #815 "Dependency bootstrap-vue-3-icons not on npmjs.com"
Installation of bootstrap-vue-3@0.4.9 requieres bootstrap-vue-3-icons , but that package is not available on npmjs.com

[2022-11-23 13:10] VividLemon commented on #815
@aceofwings

[2022-11-23 13:14] aceofwings commented on #815
I see it. I am going to  just use text string instead of icons until we put an icons into the main package.

[2022-11-23 13:28] VividLemon commented on #814
No

[2022-11-23 19:05] #815 closed

[2022-11-24 03:27] mamartinezmejia opened #819 "Null State property is not working for some HTML elements"
The **null** state property for the following elements doesn't work:
_b-form-checkbox
b-form-radio
b-form-select_

It works only for the _b-form-input_ element

[2022-11-24 03:34] VividLemon commented on #819
Duplicate of #807 . Though your issue has slightly more useful information

[2022-11-24 03:34] #819 closed

[2022-11-26 16:33] xmatthias commented on #563
is the new release not available on the documentation, or is there something else broken with toasts?

trying the [toasts doc page](https://cdmoro.github.io/bootstrap-vue-3/components/Toast.html#variants) doesn't render ANY toast...

[2022-11-26 16:53] blu94 opened #820 "Backdrop of modal not disappear after hide"
[code]

Modal backdrop not hide after v-model set to false

![image](https://user-images.githubusercontent.com/16028996/204100003-360153dd-0372-477c-90d2-7280547272ea.png)

[2022-11-26 22:12] VividLemon commented on #563
Toast broken

[2022-11-28 03:00] #766 closed

[2022-11-28 05:11] aceofwings commented on #778
Very Nice. I pushed a fix.